*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}


Nav {
font-size: 15px;
}

.landing {
  display:  flex;
  padding:  80px 0;
}

/*login*/
.loginForm {
  display:  flex;
  max-width: 500px;
  height: 350px;
  margin: auto;
  border: 1px solid black;
  box-sizing: border-box;
  justify-content: center;
}

/*register*/
.registerForm {
  display: flex;
  max-width: 700px;
  height: 350px;
  margin: auto;
  border: 1px solid black;
  justify-content: center;
}
